<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>myS3</title>
  <link rel="stylesheet" href="./css/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>Welcome on myS3 !</h1><hr>

  <form method="POST" action="http://localhost:1337/blob/add" enctype="multipart/form-data">
      <div>
          <label>Select your profile picture:</label>
          <input type="file" name="mys3-upload" />
      </div>
      <div>
          <input type="submit" name="btn-mys3-upload" value="Upload" />
      </div>
  </form>


<!--
  <div id="app">
    {{ message }}
  </div>
  <hr>

  <div id="app-2">
    <span v-bind:title="message">
      Passez votre souris sur moi pendant quelques secondes
      pour voir mon titre lié dynamiquement !
    </span>
  </div>
  <hr>

  <div id="app-3">
    <p v-if="seen">Maintenant vous me voyez</p>
  </div>
  <hr>

  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <hr>

  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Message retourné</button>
  </div>
  <hr>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  <hr>

  <div id="app-7">
    <ol>-->
      <!--
        Maintenant nous fournissons à chaque todo-item l'objet todo
        qu'il représente de manière à ce que son contenu puisse être dynamique.
        Nous avons également besoin de fournir à chaque composant une « clé »,
        mais nous expliquerons cela plus tard.
      -->
<!--      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>
  <hr>
-->
  <script src="./js/index.js"></script>
</body>
</html>
